          <div class="card mb-4 shadow-sm">
          <div class="card-body text-center">
            {{ _('This is the home of WotBot (bot for Discord), your WoT Blitz stats and quiz helper.') }}</br>
            {{ _('To get WotBot to your Discord server, click this') }} <a href=https://discordapp.com/oauth2/authorize?client_id=368866137603309569&scope=bot&permissions=0>{{ _('invite link') }}</a><br>
            {{ _('WotBot Development Discord server:') }}</br> <a href="https://discord.gg/mzXYPVW"><img src="https://discordapp.com/api/guilds/368859705059311616/widget.png?style=banner2"></a></br>
            {{ _('WotBot is fully open, source code is here:') }} <a href="https://codeberg.org/vanous/wotbot">https://codeberg.org/vanous/wotbot</a><br>
          </div>
          </div>
