{% extends "base.html" %}

{% block content %}

<div id="rivets_container" class="container-fluid">
    <!--  <h1 rv-text="data.user.playername"></h1> -->

    <div id="" class="noc">
        <div class="row">
            <div class="col-md-6"> <select class="custom-select selectpicker mainselector">
                    <!--             <option value="server_selector">{{ _('Select what to edit') }}:</option> -->
                    <option value="user_preferences">{{ _('User preferences') }}</option>
                    <option rv-each-guild="data.guilds" rv-text="guild.name" rv-value="guild.id"></option>
                    <option rv-each-guildinvite="data.guilds_invite" rv-text="guildinvite.name" rv-value="guildinvite.id" class="invite"></option>
                </select>

            </div>
        </div>
        <div class="row" >
            <div class="col-md-2"><a href="/me" class="btn btn-secondary disabled reset-data col-md-12">{{ _('Reset') }}</a></div>

            <div class="col-md-4"><a href="#" class="btn btn-secondary disabled send-data col-md-12">{{ _('Save') }}</a></div>
        </div>

    </div>


    <!-- <div id="user_preferences" style="display:none" class="watchcontainer"> -->
    <div id="user_preferences"  class="watchcontainer">
        <div class="row">
            <div class="col-md-2">{{ _('Language') }}:</div>
            <div class="col-md-4"> <select class="custom-select languageuser" rv-value="data.user.language">
                    <option value="">{{ _('default = English') }}</option>
                    <option value="en">{{ _('English') }}</option>
                    <option value="cs">{{ _('Czech') }}</option>
                    <option value="ru">{{ _('Russian') }}</option>
                    <option value="fr">{{ _('French') }}</option>
                    <option value="hu">{{ _('Hungarian') }}</option>
                    <option value="de">{{ _('German') }}</option>
                    <option value="az">{{ _('Azerbaijani') }}</option>
                    <option value="pl">{{ _('Polish') }}</option>
                    <option value="it">{{ _('Italian') }}</option>
                    <option value="es">{{ _('Spanish') }}</option>
                    <option value="ar">{{ _('Arabic') }}</option>
                    <option value="tr">{{ _('Turkish') }}</option>
                    <option value="zh">{{ _('Chinese') }}</option>
                    <option value="uk">{{ _('Ukrainian') }}</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">{{ _("Confirmed WG account") }}:</div>
            {% if session.get('wgregion') %}
            {% if session.get('wgaccess_token',None) != None %}
            <div class="col-md-4"> <a href="{{ url_for('logoutwg') }}"" class="btn btn-primary col-lg-12 col-md-12">{{ _('{}@{} . Unlink WG account.').format(session.get('wgnickname'),session.get('wgregion').replace("com","na")) }}</a> </div>
        </div>
        {% else %}
        <div class="col-md-4"> <a href="#" class="btn btn-warning col-lg-12 col-md-12" data-toggle="modal" data-target="#signInModal">{{ _('{}@{} . Must renew WG account.').format(session.get('wgnickname'),session.get('wgregion').replace("com","na")) }}</a> </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4"> <a href="{{ url_for('logoutwg') }}"" class="btn btn-primary col-lg-12 col-md-12">{{ _('{}@{} . Unlink WG account.').format(session.get('wgnickname'),session.get('wgregion').replace("com","na")) }}</a> </div>
        </div>
        {% endif %} 

        {% else %}
        <div class="col-md-4"> <a href="#" class="btn btn-primary col-lg-12 col-md-12" data-toggle="modal" data-target="#signInModal">{{ _('Link your WG account') }}</a> </div>
    </div>

    <div class="row">
        <div class="col-md-2">  </div>
        <div class="col-md-4"> <a href="#sso" class="btn btn-secondary col-lg-12 col-md-12" data-toggle="collapse">{{ _('Use unconfirmed account') }}</a> </div>
    </div>
    <div id="sso" class="collapse">
        <div class="row">
            <div class="col-md-2">{{ _('Region') }}:</div>
            <div class="col-md-4"> <select class="custom-select regionuser" rv-value="data.temp.region" readonly>
                    <option value="">{{ _('not set') }}</option>
                    <option value="eu">{{ _('Europe') }}</option>
                    <option value="ru">{{ _('Russian Commonwealth') }}</option>
                    <option value="na">{{ _('North America') }}</option>
                    <option value="asia">{{ _('Asia') }}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">{{ _('In Game Name') }}:</div>
            <div class="col-md-4"> <input maxlength="20" rv-value="data.temp.player" autocomplete="on" class="watchcontainer playername" style="min-width: 100%; line-height: calc(2.25rem + 2px);"></input> </div>
        </div>
        <div class="suggestion"></div>
        <div rv-attr-compute="controller.show_playername | call  data data.temp.region data.temp.player" rv-texta="data.user.playername"> </div>
    </div>
    {% endif %}


    <div class="row">
        <div class="col-md-2">  </div>
        <div class="col-md-4"> <a href="#sso2" class="btn btn-warning col-lg-12 col-md-12" data-toggle="collapse">{{ _('Remove my data from WotBot') }}</a> </div>
    </div>
    <div id="sso2" class="collapse">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4"> <a href="#sso2" class="btn btn-danger col-lg-12 col-md-12 remove-data" >{{ _('Remove my data from WotBot') }}</a> </div>
        </div>
    </div>
    <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title" id="signInModalLabel">{{ _('Sign to Wargaming') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label={{ _("Close") }}>

                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <a class="btn btn-secondary col-sm-12" href="{{ WG_URL.format('ru','ru')}}">{{ _('Russian Commonwealth') }}</a>
                    <a class="btn btn-secondary col-sm-12 mt-2" href="{{ WG_URL.format('eu','eu')}}">{{ _('Europe') }}</a>
                    <a class="btn btn-secondary col-sm-12 mt-2" href="{{ WG_URL.format('com','com')}}">{{ _('North America') }}</a>
                    <a class="btn btn-secondary col-sm-12 mt-2" href="{{ WG_URL.format('asia','asia')}}">{{ _('Asia') }}</a>
                </div>
            </div>
        </div>
    </div>
</div>





<div rv-each-guild="data.guilds" rv-id="guild.id" style="display:none" class="watchcontainer">
    <div class="row">
        <div class="col-md-2">{{ _('Prefix') }}</div>
        <div class="col-md-4"><input maxlength="1" rv-value="guild.config.prefix" class="watchcontainer" style="min-width: 100%;"></input></div>
    </div>
    <div class="row">
        <div class="col-md-2">{{ _('Language') }}</div>
        <div class="col-md-4">
            <select class="custom-select languagepicker" rv-value="guild.config.language">
                <option value="">{{ _('default = English') }}</option>
                <option value="en">{{ _('English') }}</option>
                <option value="cs">{{ _('Czech') }}</option>
                <option value="ru">{{ _('Russian') }}</option>
                <option value="fr">{{ _('French') }}</option>
                <option value="hu">{{ _('Hungarian') }}</option>
                <option value="de">{{ _('German') }}</option>
                <option value="az">{{ _('Azerbaijani') }}</option>
                <option value="pl">{{ _('Polish') }}</option>
                <option value="it">{{ _('Italian') }}</option>
                <option value="es">{{ _('Spanish') }}</option>
                <option value="ar">{{ _('Arabic') }}</option>
                <option value="tr">{{ _('Turkish') }}</option>
                <option value="zh">{{ _('Chinese') }}</option>
                <option value="uk">{{ _('Ukrainian') }}</option>
            </select>
        </div>
    </div><div class="row">
        <div class="col-md-2">{{ _('Region') }}</div>
        <div class="col-md-4">
            <select class="custom-select regionpicker" rv-value="guild.config.region">
                <option value="">{{ _('not set') }}</option>
                <option value="eu">{{ _('Europe') }}</option>
                <option value="ru">{{ _('Russian Commonwealth') }}</option>
                <option value="na">{{ _('North America') }}</option>
                <option value="asia">{{ _('Asia') }}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">{{ _('Replay summary length') }}</div>
        <div class="col-md-4">
            <select class="custom-select replaylengthpicker" rv-value="guild.config.replay_length">
                <option value="">{{ _('default = long') }}</option>
                <option value="short">{{ _('short') }}</option>
                <option value="medium">{{ _('medium') }}</option>
                <option value="long">{{ _('long') }}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">{{ _('Welcome message') }}</div>
        <div class="col-md-4">
            <select class="custom-select welcomemessagepicker" rv-value="guild.config.welcomemessage">
                <option value="">{{ _('default = enabled') }}</option>
                <option value="True">{{ _('enabled') }}</option>
                <option value="False">{{ _('disabled') }}</option>
            </select>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col" style="width:500px" >{{ _('channels') }}:</th>
                <th scope="col"><div style="word-spacing: 10000000px;">{{ _('platoon requests') }}</div></th>
                <th scope="col"><div style="word-spacing: 10000000px;">{{ _('wotbot news') }}</div></th>
                <th scope="col"><div style="word-spacing: 10000000px;">{{ _('replays autoupload') }}</div></th>
                <th scope="col"><div style="word-spacing: 10000000px;">{{ _('replays autoupload private') }}</div></th>
            </tr>
        </thead>
        <tbody>
        <tr rv-each-channel="guild.channels">
            <td rv-text="channel.name">{channel.name} {channel.id}</td>
            <td><input type="radio" rv-checked="guild.config.platoon_channel" rv-value="channel.id" rv-name="guild.id_platoon"></td>
            <td><input type="radio" rv-checked="guild.config.updates_channel" rv-value="channel.id" rv-name="guild.id_updates"></td>
            <td><input type="checkbox" rv-checked="channel.replays" rv-attr-value="channel.id" name="optreplays"></td>
            <td><input type="checkbox" rv-checked="channel.replays_private" rv-attr-value="channel.id" name="optreplaysprivate"></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="/static/rivets.bundled.min.js"></script>

<script type="text/javascript">
var data = {};
data.temp={};
data.userid = '{{ userid }}'
data.user = {{ user|tojson }}
if (!data.user.hasOwnProperty('playername')){
    data.user.playername=""
}
data.temp.player=data.user.playername.split("@")[0] || ""
data.temp.region=data.user.playername.split("@")[1] || ""
data.guilds = {{ guilds|tojson }};
data.guilds_invite = {{ guilds_invite|tojson }};
$.each(data.guilds, function (key,guild){
        //console.log(guild.name)
        if (Object.keys(guild.config).length){
        $.each(guild.channels,function(key,channel){
            if (guild.config.hasOwnProperty('replay_channel')){
            if (guild.config.replay_channel.indexOf(channel.id)>-1){
            channel.replays=true
            //console.log(channel.name, channel.replay)
            }
            }
            if (guild.config.hasOwnProperty('replay_private')){
            if (guild.config.replay_private.indexOf(channel.id)>-1){
            channel.replays_private=true
            //console.log(channel.name)
            }
            }
            });
        }
        });
//data.selected=getguild(data.guilds,"WotBot development");
//data.selected=data.guilds[0];






rivets.binders['attr-*'] = function(el, value) {
    if (value){
        el.setAttribute(this.args[0], value)
    }else{
        el.removeAttribute(this.args[0])
    }
}


set_send = function(val,text){
    //console.log("set green",val)
    if (val=='disabled'){
        $('.reset-data').addClass('disabled')
            $('.send-data').addClass('disabled')
            $('.send-data').removeClass('btn-success')
            $('.send-data').addClass('btn-secondary')
            if (text=='saved'){
                $('.send-data').text('{{ _('Saved OK') }}')
            }
    }else{
        $('.reset-data').removeClass('disabled')
            $('.send-data').removeClass('disabled')
            $('.send-data').removeClass('btn-secondary')
            $('.send-data').addClass('btn-success')
            $('.send-data').text('{{ _('Save') }}')
    }

}

rivets.bind(document.querySelector('#rivets_container'), {
data: data,
controller:{
show_playername:function(value) {
//console.log(value)
//set_send();
if (value.temp.region.length > 1) { 
value.user.playername=value.temp.player + "@" + value.temp.region
}else{
value.user.playername=value.temp.player
}
}
}

});



$(document).ready(function(){
        //console.log("ready")
        set_send('disabled');
        //var previous_sel;
        var previous_sel = $('.mainselector option:selected').val();
        $('.mainselector').on('change', function (e) {
            sel_ele = $('.mainselector option:selected')[0]
            if ($(sel_ele).hasClass("invite")){
            window.location = "https://discordapp.com/oauth2/authorize?client_id={{ OAUTH2_CLIENT_ID }}&scope=bot&guild_id="+sel_ele.value+"&response_type=code&redirect_uri={{ OAUTH2_REDIRECT_URI }}";
            return            
            }
            var selected = $('.mainselector option:selected').val();
            //console.log("changed");
            //console.log(selected);
            $("div[id="+selected+"]").show();
            $("div[id="+previous_sel+"]").hide()
            //$("div[id="+selected+"]").siblings("table").hide();

            previous_sel=selected;;
            //console.log(getguild(data.guilds,selected));
            //data.selected=getguild(data.guilds,selected)[0];
            //data.selected=data.guilds.filter(g=>g.name="dsa");
            //$( ".guild" ).replaceWith('<ul><li rv-each-channel="data.guilds[0].channels"><h3 rv-text="channel.name"></h3><ul>');

            if (data.temp.confirmed == "ok"){
            $('.playername').prop('disabled', true);
            $('.regionuser').prop('disabled', true);

            }
        });


        var regions = [
        {r: "", b: "eu"}, 
        {r: "eu", b: "eu"}, 
        {r: "ru", b: "ru"}, 
        {r: "na", b: "com"}, 
        {r: "asia", b: "asia"}
        ];

        $('.regionuser').on('change', function (e) {
                var selected_region = $('.regionuser option:selected').val();
                //console.log(selected_region)
                region=regions.filter(function(obj){return obj.r==selected_region})
                //console.log(region)
                url="https://api.wotblitz."+region[0].b+"/wotb/account/list/?application_id=28c68c84fafec48834d1cd61b7030e4a"
                //console.log(url);
                $(".playername").autocomplete("option","source",function( request, response ) {
                    $.ajax( {
url:url,
dataType: "json",
data: {
search: request.term
},
success: function( data ) {
var transformed = $.map(data["data"].slice(0,10),function(el){
    //console.log(el)
    return {
label:el.nickname
};
});
response(transformed);
},
error: function () {
response([]);
}
} );
                    })


});




$(".playername").autocomplete({
source: function( request, response ) {
$.ajax( {
url:"https://api.wotblitz.eu/wotb/account/list/?application_id=28c68c84fafec48834d1cd61b7030e4a",
dataType: "json",
data: {
search: request.term
},
success: function( data ) {
var transformed = $.map(data["data"].slice(0,10),function(el){
    //console.log(el)
    return {
label:el.nickname
};
});
response(transformed);
},
error: function () {
response([]);
}
} );
},
minLength: 3,
    messages: {
noResults: '',
           results: function() {}
    },
select: function( event, ui ) {
            //$(".playername")"Selected: " + ui.item.value + " aka " + ui.item.id );
            data.temp.player= ui.item.value;
        }
} );
} );


$('.remove-data').on('click', function (e) {
        console.log(JSON.stringify(data))
        console.log("pressed remove");
        var csrf_token = "{{ csrf_token() }}";

        var r = confirm('{{ _("Pressing OK will remove data related to your Discord account and data related to your confirmed Wargaming account from WotBot.") }}');
        if (r == true) {
        } else {
        console.log("pressed Cancel");
        return;
        } 

        console.log("pressed OK");

        var request = $.ajax({
url: '/data',
type: 'POST',
dataType: 'text',
contentType: "application/json",
data: JSON.stringify({'action':'remove-data'}),
headers: { 'X-CSRFToken': csrf_token}
});
request.done(function( xhr) {
        console.log( "good");
        alert('{{ _("Data removed, logging you out.") }}');
        console.log( "bad");
        window.location="/";
        });

request.fail(function( xhr ) {
        alert('{{ _("Something wrong happened, try again.") }}');
        });
});

$('.send-data').on('click', function (e) {
        //console.log(JSON.stringify(data))
        data_send_str=JSON.stringify(data);
        data_send=JSON.parse(data_send_str)

        $.each(data_send.guilds, function (key,guild){
            //console.log(guild.name)
            guild.config.replay_channel=[]
            guild.config.replay_private=[]
            $.each(guild.channels,function(key,channel){
                if (channel.hasOwnProperty('replays')){
                if (channel.replays==true){
                guild.config.replay_channel.push(channel.id)
                }
                }
                if (channel.hasOwnProperty('replays_private')){
                if (channel.replays_private==true){
                guild.config.replay_private.push(channel.id)
                }
                }
                });
            delete(guild.channels)
            if (! guild.config.replay_private.length){
            delete(guild.config.replay_private);
            }
            if (! guild.config.replay_channel.length){
                delete(guild.config.replay_channel);
            }
        });
delete(data_send.temp)
    delete(data_send.guilds_invite)


    //console.log(JSON.stringify(data_send))
    var csrf_token = "{{ csrf_token() }}";

var request = $.ajax({
url: '/data',
type: 'POST',
dataType: 'text',
contentType: "application/json",
data: JSON.stringify(data_send),
headers: { 'X-CSRFToken': csrf_token}
});
request.done(function( xhr) {
        //console.log( "good",xhr );
        set_send('disabled', 'saved');
        });

request.fail(function( xhr ) {
        //console.log( "fail", xhr);
        });
});

$('.watchcontainer').on('change input',function(){
        set_send();
        });
</script>


{% endblock %}
