          <div class="card mb-4 shadow-sm">
<div class="card-body text-left mx-auto">
             <a href="http://forum.wotblitz.eu/index.php?/topic/45862-discord-bot-wotbot/">{{ _('EU Forum discussion topic') }}</a><br>
             <a href="http://forum.wotblitz.com/index.php?/topic/98669-wotbot-wot-blitz-discord-bot/">{{ _('NA Forum discussion topic') }}</a><br>
             <a href="http://forum.wotblitz.asia/index.php?/topic/19201-wotbot-wot-blitz-discord-bot/">{{ _('Asia Forum discussion topic') }}</a><br>
             <a href="http://forum.wotblitz.ru/index.php?/topic/72221-wotbot-wot-blitz-discord-bot/">{{ _('Russian Forum discussion topic') }}</a><br>
 </div>
 </div>
