{% extends "base.html" %}

{% block content %}

<div class="container">
    <div>{{ _('There are number of commands, see their listing and description:') }}</div>
<div>
<p>
{{ _('Command prefix is typically question mark unless changed by server admin:') }} <b>?</b> {{ _('for example:') }} <b>?help</b><br><br>
{{ _('Player/Clan names can be defined also as') }} <b>{{ _('player') }}@{{ _('region') }}</b> {{ _('for example:') }} <b>The_Honour@eu</b>, {{ _('or') }} <b>PRAMO@na</b><br>
{{ _('If region') }} (eu, ru, na, asia) {{ _('is not specified, players and clans are searched on servers in this order:') }} eu, ru, na, asia.<br><br>


</p>

</div>
</div>

<div id="accordion">
</div>
    <script src="https://spares.robe.cz/static/images/data.js"></script>
    <script>
$( document ).ready(function(){

    $.each(data, function(i, item){
        //console.log(item)
        $("#accordion").append('  <div class="card" >\
        <div class="card-header" id="headingOne'+i+'" data-toggle="collapse" data-target="#'+i+'" aria-expanded="true" aria-controls="'+i+'">\
      <h5 class="mb-0">\
        <button class="btn btn-link" >\
          ' + i + '\
        </button>\
      </h5>\
    </div>\
    <div id="'+i+'" class="collapse" aria-labelledby="headingOne'+i+'" data-parent="#accordion">\
      <div class="card-body">\
            <ul id="card-'+i+'" class="list-group list-group-flush"> ')
            
            $.each(item,function(j,values){
            //console.log(j)
            //console.log(values[0].length)
            var new_data="";
            if (typeof values[0] == "object"){
                var ins="";
                if (values[1][1].length != 0){
                    //console.log(values[1][1].length) 
                    ins="Aliases: " +values[1][1]
                };
                new_data='<li class="list-group-item flex-nowrap justify-content-between"><b>'+j+'</b><p class="text-left">' + values[1][0]+ '</p>'+ins+'</li>'
                //console.log("indises: ", values[0])
                $.each(values[0],function(k,insides){
                
                var ins="";
                if (typeof insides[1][1] != 'undefined'){
                if (insides[1][1].length != 0){
                    ins="Aliases: " +insides[1][1]
                };
                };
                new_data = new_data + '<li class="list-group-item flex-nowrap justify-content-between"><b>'+j+' '+k+'</b><p class="text-left flex-nowrap justify-content-between">' + insides[0]+ '</p>'+ins+'</li>'
                })
            
            }else{
            
                //console.log("no indises: ", values[0], values[0].length, $.type(values[0]))
                var ins="";
                //console.log(typeof values[1], values[1])
                if (typeof values[1] != 'undefined'){
                if (values[1].length != 0){
                
                    //console.log(values[1][1]) 
                    ins="Aliases: " +values[1]
                };
                };
                new_data='<li class="list-group-item flex-nowrap justify-content-between"><b>'+j+'</b><p class="text-left">' + values[0]+ '</p>'+ins+'</li>'
            };

                $("#card-"+i).append(new_data);
            });
        
        $("#accordion").append('</ul></div>\
    </div>\
  </div>' );
    });

if(window.location.hash)
{
    console.log("yes")
    // hash found
    var hash = window.location.hash.substring(0); //Puts hash in variable, and removes the # character
    console.log(hash)
    //alert (hash);
    $(hash)[0].classList.toggle('show');
    $('html,body').animate({scrollTop: $(hash).offset().top  }, 1000);

}
});
    </script>

{% endblock %}
