{% extends "base.html" %}

{% block content %}

 <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
     <h1 class="display-4">{{ _('WotBot Dashboard') }}</h1>
      <p class="lead"></p>



    </div>

<div class="container">
      <div class="card-deck mb-3 text-center">


      <div class="card mb-4 shadow-sm">
          <div class="card-header">
              <h4 class="my-0 font-weight-normal">{{ _('Your WotBot BlitzQuiz status') }}</h4>
          </div>
          <div class="card-body text-left">
              {% if blitzquiz %}
                  {{ _('Number of quizes:') }} {{ "{}".format(blitzquiz[1]) }}<br>
                  {{ _('Correct answers:') }} {{ "{}".format(blitzquiz[2]) }}<br>
                  {{ _('Winrate:') }} {{ "{:4.2f}%".format(blitzquiz[2]/blitzquiz[1]*100,) }}
              {% else %}

              {{ _('No BlitzQuiz statistics') }}

              {% endif %}

          </div>
        </div>

      <div class="card mb-4 shadow-sm">
          <div class="card-header">
              <h4 class="my-0 font-weight-normal">{{ _('Wargaming player name and region') }}</h4>
          </div>
          <div class="card-body text-left">
              {% if session.get('wgregion') %}
              <h6 class="my-0 font-weight-normal">{{ _('Confirmed account') }}</h6>
                  {{ _('Player name') }}: {{ session.get('wgnickname') }}<br>
                  {{ _('Region') }}: {{ session.get('wgregion').replace("com","na") }}<br>

              {% else %}
                {% if user %}
                  {% if user.playername %}
                    <h6 class="my-0 font-weight-normal">{{ _('Account not confirmed') }}</h6>
                  {{ _('Player name') }}: {{ user.playername.split("@")[0] }}<br>
                  {{ _('Region') }}: {{ user.playername.split("@")[1] }}<br>
                  {% endif %}
                {% endif %}

              {% endif %}
                {% if user %}
                  {% if user.language %}
                  {{ _('Language') }}: {{ user.language }}<br>
                  {% endif %}
                  {% endif %}

          </div>
        </div>
        </div>

            {% include "status.html" %}
            {% include "details.html" %}
            {% include "forums.html" %}
            {% include "translators.html" %}
            {% include "policy.html" %}
            {% include "removing.html" %}
        </div>
            {% include "script.html" %}
{% endblock %}
