{% extends "base.html" %}

{% block content %}

<style>
.hcarousel-inner img {
  margin: 0 auto;
}
.hcarousel-item > img {
  height: 100px;
  margin: 0 auto;
}
.carouxsel {
    width:100%;
        margin: 0 auto;
}
.carousel-caption {
    position: relative;
        padding-top:20;
    left: auto;
    right: auto;
}
.carousel-inner{
overflow: visible;
}
</style>


 <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
     <h1 class="display-4">{{ _('Welcome to WotBot Dashboard') }}</h1>
      <p class="lead">{{ _('WotBot Dashboard, place where you can see and edit your WotBot user settings and also edit Discord server settings for WotBot.') }}</p>

    </div>
<div class="container">
            {% include "status.html" %}
      <div class="card-deck mb-3 text-center">


      <div class="card mb-4 shadow-sm">
          <div class="card-body">
              <!-- <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1> 
            <ul class="list-unstyled mt-3 mb-4">
            <li>{{ _('WoT Blitz statistics') }}</li>
            <li>{{ _('Daily and periodical stats diffs') }}</li>
            <li>{{ _('Tank quiz') }}</li>
            <li>{{ _('Auto upload for game replays') }}</li>
            </ul>-->
            <a href="{{ url_for('login') }}" class="btn btn-lg btn-block btn-primary" role="button">{{ _('Sign-in with Discord') }}</a>
          </div>
        </div>



        </div>
        </div>

<div class="container text-center">

<!-- Large modal -->
<button class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">
    <img class="w-100" src="/static/images/help.png" alt="{{ _('Click for gallery with examples') }}">
    <p>{{ _('Click for gallery with examples') }}</p>

</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">


<div id="carouselExampleIndicators" class="carousel slide container" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active" >
      <img class="d-block w-100" src="/static/images/01.png" alt="Slide">
    </div>
    <div class="carousel-item" >
      <img class="d-block w-100" src="/static/images/help.png" alt="Help">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/images/02.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/images/03.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/images/04.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/images/05.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/images/06.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/images/07.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/images/08.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/images/09.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/images/10.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/images/11.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/images/12.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/images/13.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/images/14.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/images/15.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/images/16.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/images/17.png" alt="Second slide">
    </div>
    <!--
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/images/18.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/images/19.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/images/20.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/images/21.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/images/22.png" alt="Second slide">
    </div>
    -->
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">{{ _('Previous') }}</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">{{ _('Next') }}</span>
  </a>
</div>


 </div>
  </div>
</div>



<div class="card mb-4 shadow-sm border-0">
            {% include "details.html" %}
            {% include "forums.html" %}
            {% include "translators.html" %}
            {% include "policy.html" %}
            {% include "removing.html" %}
        </div>

</div>

<p/>



            {% include "script.html" %}

{% endblock %}
