          <div class="card mb-4 shadow-sm"> 
              <div class="card-body text-center" id="privacy">
                  <h3>Privacy policy</h3> 

                  WotBot respects your privacy. It doesn't expose user messages
                  in any way. It doesn't log user messages. User messages are
                  never shared with anyone. It does keep track of used commands
                  (see the ?botstats for popular commands). Wotbot does keep
                  log of commands and command arguments (like discord or WG
                  usernames or IDs) for troubleshooting purposes. User data
                  saved via settings and platoon-connector contain Discord user
                  ID, Wargaming ID and some preference (for example region or
                  language). Saved data (preferences) are never shared with any
                  third party in any way. Wotbot doesn't conduct any discord
                  administrative tasks.  Uploaded replay files ARE shared with
                  <a href="https://replays.wotinspector.com/en/">https://replays.wotinspector.com/en/</a>
                  who provides parsed data about the replay and stores the
                  replay file for further visualization.  

              </div> </div>
