          <div class="card mb-4 shadow-sm"> 
              <div class="card-body text-center">
                  <h3>Removing your data</h3> 

                  You can completely remove all your data from WotBot. To
                  remove your data, sign into the 
                  <a href="https://wotbot.pythonanywhere.com/">Dashboard</a> and
                  click the "Remove my data from WotBot" button, then click the
                  confirmation message "Remove my data from WotBot". All your data
                  will be removed, except of the replay files that you uploaded to
                  <a href="https://replays.wotinspector.com/en/">https://replays.wotinspector.com/en/</a>.
                  You can contact 
                  <a href="https://wotinspector.com/en/privacy">https://wotinspector.com/en/privacy</a>
                  for replay files removal.

              </div> </div>
