    <script>
$( document ).ready(function(){

$.getJSON('https://discordapp.com/api/guilds/368859705059311616/widget.json', function(data) {
    wb=data.members.filter(
      function(data){ return data.username == 'wotbot' }
  );

wb=wb[0]
$('#wotbot')[0].innerHTML="WotBot status:"
$('#status')[0].innerHTML=wb.status
$('#serving')[0].innerHTML="in " + wb.game.name.match(/\d+/)[0] + " servers"


});


$.getJSON('https://status.discordapp.com/api/v2/status.json', function(data) {

$('#discord')[0].innerHTML="Discord status:"

    
if (data.status.indicator != 'none'){
    $('#discord_issue')[0].innerHTML=data.status.indicator
}

$('#discord_status')[0].innerHTML="<a href='https://status.discordapp.com/' target='_blank'>" + data.status.description + "</a>"

});


});

 </script>
