          <div class="card mb-4 shadow-sm">
<div class="card-body text-left mx-auto">
    <div class="text-center"><span id="wotbot"></span> <span id="status"></span> <span id="serving"></span></div>
    <div class="text-center"><span id="discord"></span> <span id="discord_issue"></span> <span id="discord_status"></span></div>
    </div>
    </div>
