          <div class="card mb-4 shadow-sm">
<div class="card-body mx-auto text-left">
    {{ _('Thanks to all translators') }}: <a href="https://crwd.in/wotbot"><img src="https://d322cqt584bo4o.cloudfront.net/wotbot/localized.svg"></a><br>
            <a href=/language/ru_RU>Russian/{{ _('Russian') }}:</a> reven86, vdo2000, FanHamMer<br/>
            <a href=/language/nl_NL>Dutch/{{ _('Dutch') }}:</a> sjonscom<br/>
            <a href=/language/fr_FR>French/{{ _('French') }}:</a> Myrheii, FuzzRipper<br/>
            <!--            <a href=/language/cs_CZ>Czech/{{ _('Czech') }}</a><br/> -->
            <a href=/language/de_DE>German/{{ _('German') }}:</a> Andreas_kober74<br/>
            <a href=/language/az_AZ>Azerbaijani/{{ _('Azerbaijani') }}:</a> Shahin Farzaliyev<br/>
            <a href=/language/hu_HU>Hungarian/{{ _('Hungarian') }}:</a> bhfc<br/>
            <a href=/language/pl_PL>Polish/{{ _('Polish') }}:</a> Banquo__<br/>
            <a href=/language/it_IT>Italian/{{ _('Italian') }}:</a> Shocky<br/>
            <a href=/language/es_ES>Spanish/{{ _('Spanish') }}:</a> fr33lanc3_70<br/>
            <a href=/language/ar_SA>Arabic/{{ _('Arabic') }}:</a> _____KSA_____<br/>
            <a href=/language/tr_TR>Turkish/{{ _('Turkish') }}:</a> Mynaneiscafer<br/>
            <a href=/language/zh_CN>Chinese/{{ _('Chinese') }}:</a> CN_YF000<br/>
            <a href=/language/ru_UK>Ukrainian/{{ _('Ukrainian') }}:</a> Мия Котик<br/>
            <!--
            <a href=/language/cs_CZ>Czech/{{ _('German') }}:</a> b48g55m<br/>
            <a href=/language/cs_CZ>Czech/{{ _('Spanish') }}:</a> b48g55m<br/>
            <a href=/language/fr_FR>French/{{ _('French') }}:</a> Myrheii<br/>
            -->
          
        </div>
        </div>
