{% extends "base.html" %}

{% block content %}
      <div class="text-center">
          <div class="card-body">
              {{ _('Getting fresh data from Discord.') }}<br><br>
              <a href="{{ url_for( url ) }}" class="btn btn-info" role="button">{{ name }}</a>
        </div>
      </div>



{% endblock %}
